name: pcaa

services:
    # 1. KONTENER SIECIOWY (Sidecar & tailscale)
    ts-sidecar:
        image: tailscale/tailscale:latest
        hostname: dev-app-instance
        env_file:
            - ../.env
        environment:
            - TS_EXTRA_ARGS=--advertise-tags=tag:dev
            - TS_STATE_DIR=/var/lib/tailscale
        cap_add:
            - NET_ADMIN
            - NET_RAW
        volumes:
            - tailscale-data:/var/lib/tailscale
        ports:
            - "8080:80"
        restart: unless-stopped

    # 2. BACKEND (FastAPI)
    api:
        container_name: pcaa-api
        build:
            context: ..
            dockerfile: infra/api/Dockerfile
        env_file:
            - ../.env
        volumes:
            - ../backend:/workroot
        network_mode: service:ts-sidecar
        depends_on:
            - ts-sidecar

    # 3. FRONTEND (Next.js)
    frontend:
        container_name: pcaa-frontend
        build:
            context: ../frontend
            dockerfile: Dockerfile
        volumes:
            - ../frontend:/app
            - /app/node_modules
            - /app/.next
        network_mode: service:ts-sidecar
        depends_on:
            - api

    # 4. PROXY (Nginx)
    nginx:
        container_name: pcaa-nginx
        image: nginx:mainline-alpine
        network_mode: service:ts-sidecar
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            - api
            - frontend

volumes:
  tailscale-data:
