name: PCAA
networks:
    frontnet: {}
    backnet: {}
services:
    # 1. Kontener VPN (to on łączy się do NAS)
    ts-sidecar:
        image: tailscale/tailscale:latest
        hostname: dev-app-instance
        environment:
            - TS_AUTHKEY=tskey-auth-kruPAfd2k311CNTRL-LgR56PRCehWmoYMCWU1thWnM8wTocZREd
            - TS_EXTRA_ARGS=--advertise-tags=tag:dev
            - TS_STATE_DIR=/var/lib/tailscale
        cap_add:
            - NET_ADMIN
            - NET_RAW
        volumes:
            - tailscale-data:/var/lib/tailscale
        ports:
            - "8080:80"
        restart: unless-stopped

    api:
        container_name: pcaa-api
        build:
            context: ..
            dockerfile: infra/api/Dockerfile
        volumes:
            - ../backend:/workroot
        network_mode: service:ts-sidecar
        depends_on:
            - ts-sidecar

    frontend:
        container_name: pcaa-frontend
        build:
            context: ../frontend
            dockerfile: Dockerfile
        volumes:
            - ../frontend:/app
            - /app/node_modules
            - /app/.next
        network_mode: service:ts-sidecar
        depends_on:
            - api

    nginx:
        container_name: pcaa-nginx
        image: nginx:mainline-alpine
        network_mode: service:ts-sidecar
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            - api


volumes:
  tailscale-data:
