name: PCAA
networks:
    frontnet: {}
    backnet: {}
services:
    db:
        image: postgres:18-alpine
        container_name: pcaa-db
        restart: always
        environment:
            POSTGRES_USER: pca_devuser
            POSTGRES_PASSWORD: pca_devpass
            PGDATA: ../data/postgres_data
            POSTGRES_DB: pca_localdb
        expose:
            - "5432"
        volumes:
            - ../data/postgres_data:/var/lib/postgresql/data
            - ../data/migrations:/docker-entrypoint-initdb.d:ro
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U pca_devuser -d pca_localdb"]
            interval: 5s
            timeout: 5s
            retries: 5
        networks:
            - backnet
    api:
        container_name: pcaa-api
        build:
            context: ..
            dockerfile: infra/api/Dockerfile
        volumes:
            - ../backend:/workroot
        expose:
            - "8000"
        depends_on:
            - db
        networks:
            - frontnet
            - backnet
    nginx:
        container_name: pcaa-nginx
        image: nginx:mainline-alpine
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ../frontend/static:/usr/share/nginx/html:ro
        ports:
            - "8080:80"
        depends_on:
            - api
        networks:
            - frontnet
